* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Yekan';
    src: url(fonts/Yekan.ttf);
}

body {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",monospace;
    background-color: #000;
    color: #f8f8f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 400px;
    text-align: center;
    background: #272822;
    border: 2px solid transparent;
    border-radius: 28px;

}

.header {
    margin-bottom: 10px;
    padding-top: 10px;
}

#textarea {
    width: 90%;
    height: 200px;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}

#textarea[placeholder]{
    font: 1em sans-serif;
}

button {
    width: 90%;
    padding: 10px;
    border-radius: 8px;
    border: none;
    background-color: coral;
    cursor: pointer;
    color: #272822;
    margin-bottom: 10px;
    font-size: 1rem;
    font: 1em sans-serif;
}

.output {
    margin-bottom: 10px;
    color: white;
    font: 1em sans-serif;
}