*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'Yekan';
    src: url(fonts/Yekan.ttf);
}
body{
    font-family: 'Yekan','Courier New', Courier, monospace;
    background-color: #272822;
    color: #f8f8f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
width: 400px;
text-align: center;
background-color: #444;
}